<div>
  <h1>Stupid Coaching</h1>
    <div>
      <p><%= params[:question] %></p>
    </div>
    <div>
      <p><%= @answer %></p>
    </div>
    <div><%= link_to 'Ask a new question', ask_path%>
    </div>
</div>
